$primary-color: #ee1c47;
$color-dark:#2c2c2c;
$grey: #f8f8f8;
$bg-dark: #252525;

%button-default{
  background: transparent;
  border: 0;
  transition: all .3s ease;
}

%tr-btn{
  @extend %button-default;
  display: block;
  border: solid 1px #222;
  color: #222;
  font-size: 13px;
  text-align: center;
  padding: 6px 25px;
  border-radius: 3px;
  -webkit-user-select: none;
  user-select: none;
  &:hover{
    background-color: #222;
    color: #fff;
  }
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 4px 15px;
  }
}