@import "src/styles/variables";

.breadcrumb{
  background: #f4f5f7;
  padding: 15px 0;
  font-size: 13px;

  .container{
    display: flex;
    align-items: center;
    div:first-child a{
      margin-right: 0;
    }
  }

  a{
    display: inline-block;
    color: $color-dark;
    margin:0 5px;
    &:hover{
      color: $primary-color;
    }
  }
  span{
    display: inline-block;
    color: #868e96;
    margin-right: 7px;
    max-width: 12vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
  }
}