@import "src/styles/variables";

.filter-btn{
  @extend %tr-btn;
  margin:20px 12px;
  @media (max-width: 767px) {
    margin: 10px 6px;
  }
  @media (max-width: 500px) {
    @media (max-width: 767px){
      flex: 0 0 25%;
      max-width: 30%;
    }
  }
  &.active{
    background-color: #222;
    color: #fff;
  }

}

.more-btn{
  @extend %tr-btn;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 11px 40px;
  margin-top: 60px;
  svg{
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
}