@import "src/styles/variables";
.product-detail{
  margin-top: 50px;

  .cat-tag{
    display: inline-block;
    padding: 6px 15px;
    border-radius: 4px;
    background-color:transparentize($primary-color,.5);
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
  }
  .title{
    display: block;
    font-size: 24px;
    line-height: 1.5;
    color:$color-dark;
    font-weight: 600;
    margin: 0 0 20px;
  }
  &-rate .text{
    font-size: 13px;
    margin-left: 5px;
  }
  .cost{
    display: block;
    line-height: 1.7;
    font-size: 22px;
    font-weight: bold;
    color:$primary-color;
    margin-bottom: 20px;
  }
  p{
    text-align: justify;
    line-height: 1.9;
    font-size: 14px;
    color:$color-dark;
  }
  &-action{
    margin-top: 20px;
    display: flex;
    align-items: center;
    .add-cart{
      @extend %button-default;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 14px 15px;
      width: 280px;
      border-radius: 2px;
      background-color:#151515;
      color: #fff;
      font-size: 14px;
      direction: rtl;
      &:hover{
        background-color:$primary-color;
      }
      svg{
        margin-left: 8px;
      }
    }
    .add-wish{
      @extend %button-default;
      font-size: 24px;
      margin-left: 15px;
      color:$color-dark;
      &:hover{
        color:$primary-color;
      }
      &.active{
        color:$primary-color;
      }
    }
  }
}

.zoom-image-box{
  border: solid 1px #eee;
  overflow: hidden;
  cursor: zoom-in;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iiz {
  height: 100%;
  div:first-child{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 100%;
    }
  }
}